@page "/"

<PageTitle>Home</PageTitle>

<h1>سلام بر ر ی ح ا ن</h1>

و بالاخره فروشگاه ریحان

<br />
<AuthorizeView>
    <Authorized>
        خاک برسرم شد
    </Authorized>
    <NotAuthorized>
        خاک بر سرت شد
    </NotAuthorized>
</AuthorizeView>