@inherits LayoutComponentBase

<MudThemeProvider>
    <MudDialogProvider>
        <MudSnackbarProvider>
            <MudLayout>
                <MudAppBar Color="Color.Primary" Elevation="4">
                    <MudText Typo="Typo.h6">فروشگاه من</MudText>
                </MudAppBar>

                <MudDrawer Open="true" Variant="DrawerVariant.Temporary" Elevation="2">
                    <MudNavMenu>
                        <MudNavLink Href="/products" Icon="@Icons.Material.Filled.List">محصولات</MudNavLink>
                        <MudNavLink Href="/categories" Icon="@Icons.Material.Filled.Category">دسته‌بندی‌ها</MudNavLink>
                    </MudNavMenu>
                </MudDrawer>

                <MudMainContent>
                    @Body
                </MudMainContent>
            </MudLayout>
        </MudSnackbarProvider>
    </MudDialogProvider>
</MudThemeProvider>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
